
	
body{
  background-color: black;
  display:flex;
  justify-content: center;
}

.btn{
	padding:20px 100px;
	background-color:rgba(255,255,255,0.10);
	color:whitesmoke;
	border-radius:40px;
	position:relative;
	top:300px;
	border:none;
	font-size:3rem;
	cursor:pointer;
}

.btn:hover{
	background:linear-gradient(90deg,#08ff08,#50e3fc,#bc13fe,#03a9f4,#0ff0fc);
	background-size: 500%;
	z-index:1;
	animation:blink 7s linear infinite;
}

@keyframes blink{
	from{
		background-position: 0%;
	}

	to{
		background-position: 500%;
	}
}

.btn:after{
	content:"";
	position:absolute;
	left:-10px;
	right:-10px;
	top:-10px;
	bottom:-10px;
	background: inherit;
	border-radius:40px;
	filter:blur(50px);
	opacity:0;
}
.btn:hover::after{
	opacity:1;
	z-index:-1;
}


